<?xml version="1.0" encoding="UTF-8"  ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.naviapp.db.implMyBatis.mappers.IPathMapper">
    <select id= "selectByGraphId" resultMap= "com.solvd.naviapp.db.implMyBatis.mappers.IPathMapper.pathResultMap">
        SELECT  id, distance
        FROM Paths
        WHERE id = #{id}
    </select>
    <select id ="selectTargetById" resultType= "java.lang.Integer">
        SELECT  target_node_id
        FROM Paths
        WHERE id = #{id}
    </select>
    <select id ="selectSourceById" resultType= "java.lang.Integer">
        SELECT  source_node_id
        FROM Paths
        WHERE id = #{id}
    </select>
    <insert id="createWithGraphsId">
        INSERT INTO PATHS (source_node_id, target_node_id, graphs_id, distance)
        VALUES (#{path.source.id}, #{path.target.id}, #{graphsId}, #{path.distance});
    </insert>
    <select id= "selectLastId" resultType="java.lang.Integer">
        SELECT MAX(id)
        FROM Paths;
    </select>
    <resultMap id="pathResultMap" type="com.solvd.naviapp.bin.Path" autoMapping="false">
        <id property="id" column="id"/>
        <result property="distance" column="distance"/>
    </resultMap>
</mapper>